body {
	background-color: lightblue;
}

#spacing {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  	form {
			text-align: center;
    	width: 100%;
    }
    label {
      width: 100%;
      text-align: center;
      font-size: 1.0em;
    }
    input {
      width: 90%;
			border: 1px solid #666666;
			border-radius: 3px;
			display: block;
			text-align: center;
    }
		h1 {
			text-align: center;
			color: midnightblue;
			font-size:64px;
			font-family: "Times New Roman", Times, serif;
			margin-left: 12px;
			margin-right: 7px;
			margin-top: 6px;
			margin-bottom: 5px;
		}
		p {
			color: black;
			font-size: 20px;
			font-family: Arial, Helvetica, sans-serif;
		}
		label {
			display: inline-block;
			width: 90px;
			line-height: 25px;
		}
		button {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
}

@media only screen and (min-width: 1080px) {
  	form {
			text-align: center;
    	width: 100%;
    }
    label {
      font-size: 1.0em;
    }
		input {
			margin: 0;
			border: 1px solid #666666;
			border-radius: 3px;
		}
		h1 {
			text-align: center;
			color: midnightblue;
			font-size:64px;
			font-family: "Times New Roman", Times, serif;
			margin-left: 12px;
			margin-right: 7px;
			margin-top: 6px;
			margin-bottom: 5px;
		}
		p {
			color: black;
			font-size: 20px;
			font-family: Arial, Helvetica, sans-serif;
			text-align: center;
		}
		label {
			display: inline-block;
			width: 90px;
			line-height: 25px;
		}
		button {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
}
